<div class="animated fadeInUp setings">
    <div class="inner mt-4  mb-5">
        <div class="row  animated fadeInUp">
            <div class="col-12 ">
                <div class="row  no-gutters">
                    <div class="col-md-12 ">
                        <div *ngIf="loading" class="progress-bar-con">
                        </div>
                        <div [ngClass]="{'fadeIn': successful}" class=" animated bg-white bank-form">
                            <div class="d-flex  ">
                                <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" class="form-con w-100">
                                    <div class="row animated fadeIn">
                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="password" formControlName="old_pass" placeholder="Old Password" required>
                                                <mat-hint *ngIf="submited && passwordForm.controls.old_pass.errors?.required || (passwordForm.controls.old_pass?.errors && (passwordForm.controls.old_pass?.dirty && passwordForm.controls.old_pass.errors?.required))" class="text-danger">Old Password is required</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="password" formControlName="new_pass" placeholder="New Password" required>
                                                <mat-hint *ngIf="submited && passwordForm.controls.new_pass.errors?.required || (passwordForm.controls.new_pass?.errors && (passwordForm.controls.new_pass?.dirty && passwordForm.controls.new_pass.errors?.required))" class="text-danger">New Password is required</mat-hint>
                                                <mat-hint *ngIf="passwordForm.controls.new_pass.errors?.minlength && passwordForm.controls.new_pass.dirty || passwordForm.controls.new_pass.errors?.maxlength && passwordForm.controls.new_pass.dirty" class="text-danger">Minlegth is 6, Maxlength is 30</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="password" formControlName="conf_pass" placeholder="Confirm Password" required>
                                                <mat-hint *ngIf="submited && passwordForm.controls.conf_pass.errors?.required || (passwordForm.controls.conf_pass?.errors && (passwordForm.controls.conf_pass?.dirty && passwordForm.controls.conf_pass.errors?.required))" class="text-danger">Confirm your Password</mat-hint>
                                                <mat-hint *ngIf="passwordForm.controls.conf_pass?.errors?.mustMatch && passwordForm.controls.conf_pass?.dirty " class="text-danger">Password must match</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pb-2 mt-5 d-flex justify-content-between">
                                                <div>
                                                    <button class="btn-primary" mat-raised-button>Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>