:host ::ng-deep {
    $primary: #0022ff;
    $gray: #EAEBF0;
    $dark-gray: rgb(0, 0, 0, 54%);
    $color-danger: #FFBBBB;
    $light-primary: #D1D8FF;
    .color-primary {
        color: #0022ff !important;
    }
    .color-danger {
        color: $color-danger;
    }
    .bg-primary {
        background-color: #0022ff !important;
    }
    .bg-gray {
        background-color: #EAEBF0 !important;
    }
    .btn-primary {
        background-color: #0022ff !important;
        // border-radius: 60px;
        color: #ffffff;
    }
    .inner{
        min-height: 100vh;
    }

.mat-toolbar {
    // border-radius: 70px;
    padding: 0 !important;
    height: 50px;
    .nav-con {
        button {
            height: 50px;
            border-radius: none !important;
            border-radius: 0 !important;
            color: $dark-gray;
            font-weight: 200;
            // &:first-child {
            //     $primary: #0022ff;
            //     color: $primary;
            //     border-bottom: 3px solid $primary;
            // }
        }

        button.active{
            $primary: #0022ff;
            color: $primary;
            border-bottom: 3px solid $primary;
        }
    }
}

.table td {
    padding:  .10rem !important;
    padding-left: 10px !important;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}



.bank-form {
    padding: 30px 20px 30px 20px;
 
    .profile-avater {
        // position: relative;
        border-radius: 50%;
        // background-color: $light-primary;
     
        // margin-top: px;
        .mat-icon{
            font-size: 100px ;
            height: 100px !important;
            width: 100px !important;
            margin: 0 auto !important;
                }
      
       
    }
    .form-con {
        padding-left: 15px;
        .mat-form-field {
            // width: 90%;
        }
    }
}

//  .table th {
//     padding: .75rem;
//     vertical-align: top;
//     border-top: 1px solid #dee2e6;
// }
}