<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <ng-container *ngFor="let slide of slides; let i = index">
            <div *ngIf="i === currentSlide" class="carousel-item active animated fadeIn" [ngStyle]="{'background-image': 'url('+slide.src+')'}">
                <div class="bg"></div>
                <div class="carousel-caption  d-md-block">
                    <h3>{{slide.title}}</h3>
                    <p *ngFor="let description of slide.description">{{description}}</p>
                    <a mat-raised-button style="text-decoration: none;" routerLink="/financial-services">Investment Options</a>
                </div>
            </div>
        </ng-container>
    </div>
    <a (click)="onPrevClick()" class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
        <button mat-icon-button class="bg-primary">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    </a>
    <a (click)="onNexClick()" class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
        <button mat-icon-button class="bg-primary">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> 
        </button>
    </a>
</div>