<div>

    <div class="form-con">


        <!-- EDIT ACCOUNT -->
        <form *ngIf="data?.type == 'createAccount' || data?.type == 'editAccount'" [formGroup]="accountForm">
            <div *ngIf="!loading" class="row animated fadeIn">
                <div class="col-md-12">
                    <h5 class="text-black mb-4">
                        {{data?.title}}
                    </h5>
                    <div *ngIf="data.type == 'editAccount'" class="mb-4">
                        <p><span class="text-muted">Account no.: </span> #{{this.accountEdit?.accountNo }}</p>
                        <p><span class="text-muted">Owner: </span> {{this.accountEdit.uid}}</p>
                        <p><span class="text-muted">Balance: </span> &#8358;
                            <span *ngIf="this.accountEdit.balance >= 1000">
                                {{this.accountEdit.balance | number:'2.'}}
                            </span>
                            <span *ngIf="this.accountEdit.balance < 1000">
                                {{this.accountEdit.balance}}
                            </span>
                        </p>
                        <p><span class="text-muted">Created: </span> {{this.accountEdit.createdAt| date:'fullDate'}}</p>
                    </div>


                </div>
                <div class="col-md-12">
                    <mat-form-field class="w-100">

                        <mat-select formControlName="accountType" placeholder="Account type" required tabindex="-1">
                            <mat-option *ngFor="let accountType of accountTypes" value="{{accountType.id}}">{{accountType.name}}</mat-option>
                        </mat-select>
                        <!-- <mat-hint *ngIf="submited && f.gender_id.errors?.required || (f.gender_id?.errors && (f.gender_id?.dirty && f.gender_id.errors?.required))" class="text-danger">Gender is required</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="w-100">

                        <mat-select formControlName="denomination" placeholder="Accounnt denomination" required tabindex="-1">
                            <mat-option *ngFor="let  denomination of denominations" value="{{denomination.id}}">{{denomination.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field class="w-100">

                        <mat-select formControlName="investmentPeriod" placeholder="Investment period" required tabindex="-1">
                            <mat-option *ngFor="let investmentPeriod of investmentPeriods" value="{{investmentPeriod.id}}"> {{investmentPeriod.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div *ngIf="!loading" class="row animated fadeIn">
                <div class="col-md-12">
                    <div class="  d-flex justify-content-end w-100">
                        <div>
                            <button class="btn-light-primary" tabindex="-1" mat-dialog-close mat-raised-button>Cancel</button>
                        </div>
                        <div class="ml-3">
                            <button (click)="onAccountFormSubmit()" class="btn-primary" tabindex="-1" mat-raised-button>Save changes</button>
                        </div>

                    </div>
                </div>
            </div>

        </form>



        <!-- ADD UTILITY-  -->
        <form [formGroup]="utilityFrom" (ngSubmit)="onUtilityFormSubmit()" *ngIf="data?.type == 'addUtility'">
            <div *ngIf="!loading" class="row animated fadeIn">
                <div class="col-md-12">
                    <h5 class="text-black mb-4">{{data?.title}}</h5>
                </div>
                <!-- <button  (click)="openCreatAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button> -->
                <div class="col-md-12">
                    <mat-form-field class="w-100">
                        <input matInput type="text" formControlName="utility" [placeholder]="data?.title" required>
                    </mat-form-field>
                    <!-- <small *ngIf="utilityFrom.controls.utility.errors?.required && utilityFrom.controls.utility.dirty">Please fill in the field</small> -->


                </div>

            </div>

            <div *ngIf="!loading" class="row animated fadeIn">
                <div class="col-md-12">
                    <div class="  d-flex justify-content-end w-100">
                        <div>
                            <button class="btn-light-primary" tabindex="-1" mat-dialog-close mat-raised-button>Cancel</button>
                        </div>
                        <div class="ml-3">
                            <button class="btn-primary" tabindex="-1" mat-raised-button>Add <mat-icon>add</mat-icon></button>
                        </div>

                    </div>
                </div>
            </div>

        </form>


        <div *ngIf="loading && (data?.type == 'createAccount' || data?.type == 'editAccount')" class="row animated fadeIn text-center d-flex align-items-center align-content-center" style="min-height: 300px;">
            <div class="col-md-12">
                <p>Loading... Please wait</p>
            </div>
        </div>

        <div *ngIf="loading && data?.type == 'addUtility'" class="row animated fadeIn text-center d-flex align-items-center align-content-center" style="min-height: 100px;">
            <div class="col-md-12">
                <p>Loading... Please wait</p>
            </div>
        </div>





    </div>
</div>