<div class="animated fadeInUp" style="min-height: 100%; margin-bottom: 200px;">
    <div class="container">
        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-between  ">
                <div class="d-flex align-content-center  align-items-center">
                    <h4> #495859597 </h4>
                   
                </div>
                <div class="d-flex align-content-center  align-items-center">
                    
                        <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-raised-button class="btn-primary">Edit account <mat-icon>create</mat-icon> </button>
                    
                </div>
            </header>


            <div class="row mt-3  ">

                <div class="col-md-12 mb-4 pt-1">

                    <div class=" bg-white">
                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Account Type</p>
                            <p class="m-0">Individual</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Denomination</p>
                            <p class="m-0">Naira</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Balance</p>
                            <p class="m-0">&#8358; 990, 000</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Owner</p>
                            <p class="m-0">Saint Zion</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Created</p>
                            <p class="m-0">20/12/2019</p>
                        </div>
                        <div class="py-3 px-2">
                            <button class="mt-4" color="warn" (click)="openConfirmDialog()"  mat-raised-button>
                                Detelte Account
                            </button>
                        </div>
                    </div>
                </div>

                <!--  -->
                <div class="col-md-12 ">
                <div class="table-conshadow mt-0 bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Transaction Type</th>
                                <th>Amount</th>
                                <th class=" d-flex justify-content-end align-content-center align-items-center ">Date</th>
                              
                               
                            </tr>

                        </thead>
                        <tbody>

                            <tr>
                                <td >Transer</td>
                                <td >&#8358; 50, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>

                            
                            <tr>
                                <td >Deposite</td>
                                <td >&#8358; 30, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <td >Witdraw</td>
                                <td >&#8358; 40, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>

                            <tr>
                                <td >Transer</td>
                                <td >&#8358; 50, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>

                            
                            <tr>
                                <td >Deposite</td>
                                <td >&#8358; 30, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <td >Witdraw</td>
                                <td >&#8358; 40, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>
                            <tr>
                                <td >Transer</td>
                                <td >&#8358; 50, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>

                            
                            <tr>
                                <td >Deposite</td>
                                <td >&#8358; 30, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>
                            
                            <tr>
                                <td >Witdraw</td>
                                <td >&#8358; 40, 000</td>
                                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                    20/12/2019 | 1:30 pm
                                </td>
                                
                            </tr>
                           
                           
                        
                           
                          

                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
