<div class="animated fadeInUp" style="min-height: 100%; margin-bottom: 200px;">
    <div class="container">
        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-start  ">
                <div class="d-flex align-content-center  align-items-center">
                    <button (click)="location.back()" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
                </div>

                <div class="d-flex align-content-center  align-items-center ml-3">
                    <h4> #{{account.account_number}} </h4>

                </div>

            </header>


            <div class="row mt-3  ">

                <div class="col-md-12 mb-4 pt-1">
                    <div class=" bg-white" [ngClass]="{'color-danger': !account.status}">
                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Balance</p>
                            <p class="m-0">&#8358;
                                <span *ngIf="account.balance >= 1000">
                                    {{account.balance | number:'2.'}}
                                </span>
                                <span *ngIf="account.balance < 1000">
                                    {{account.balance}}
                                </span>

                            </p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Account Type</p>
                            <p class="m-0">{{account.account_type}}</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Denomination</p>
                            <p class="m-0">{{account.denomination}}</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Investment Period</p>
                            <p class="m-0">{{account.investment_period}}</p>
                        </div>


                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Owner</p>
                            <p class="m-0">{{account.firstname}} {{account.lastname}}</p>
                        </div>

                        <div class="d-flex justify-content-between border-bottom  py-3 px-2">
                            <p class="m-0">Created</p>
                            <p class="m-0">{{account.createdAt | date:'fullDate'}}</p>
                        </div>

                    </div>

                    <div *ngIf="apiService.USER.user_type_id == 2" class="row action-footer mt-3">
                        <div class="col-md-4 mb-2">
                            <button [disabled]="loading" (click)="openAccountOperationDialog('deposite', account.account_number, account.balance )" class="btn btn-outline-primary">
                                <mat-icon>add_circle</mat-icon>  
                                {{!loading ? 'Doposite Request' : 'Please wait..'}}
                        </button>
                        </div>
                        <div class="col-md-4 mb-2">
                            <button [disabled]="loading" (click)="openAccountOperationDialog('transfer', account.account_number, account.balance)" class="btn btn-outline-dark">
                                <mat-icon>publish</mat-icon>
                                {{!loading ? 'Transfer' : 'Please wait..'}}
                        </button>
                        </div>

                        <div class="col-md-4 mb-2">
                            <button [disabled]="loading" (click)="openAccountOperationDialog('withdraw', account.account_number, account.balance)" class="btn btn-outline-danger">
                                <mat-icon>archive</mat-icon>  {{!loading ? 'withdrawal Request' : 'Please wait..'}}
                        </button>
                        </div>
                    </div>
                </div>

                <!-- Transactions -->

                <div class="col-md-12 ">
                    <strong class="mb-3 d-block">Transactions</strong>
                    <div class="table-conshadow mt-0 bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th class=" d-flex justify-content-end align-content-center align-items-center ">Date</th>
                                </tr>

                            </thead>
                            <tbody>

                                <tr>
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>
                                <tr>
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>






                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- <div class="col-md-12 mt-4">
                    <div class=" bg-white">
                        <div class="py-3 px-2">
                            <button class="" color="warn" (click)="openConfirmDialog()" mat-raised-button>
                            Detelte Account
                        </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>