<footer class="bg-dark text-white ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 info">
                <div>
                    <!-- <img src="../../../../assets/img/logo.png"> -->
                    <h3 class="text-white"><span>R</span>eserve<span>M</span>anager</h3>

                </div>
                <p><strong>Reserves Manager. RC 1559750 </strong> is a Trading and Investment Planning Company. Located in Lagos, Nigeria.
                </p>


                <div class="row">
                    <div class="col">
                        <a href="https://www.linkedin.com" class="border" mat-icon-button routerLinkActive="router-link-active">

                            <i class="fa fa-linkedin"></i>

                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.facebook.com" class="border" mat-icon-button routerLinkActive="router-link-active">

                            <i class="fa fa-facebook"></i>

                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.google.com" class="border" mat-icon-button routerLinkActive="router-link-active">

                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 services ">
                <h3>Services</h3>
                <ul class="row no-gutters">
                    <li class="col-6"><a routerLink="/client-education" routerLinkActive="menu-active">Client Education</a></li>
                    <li class="col-6"><a routerLink="/financial-services" routerLinkActive="menu-active">Financial Services</a></li>
                    <li class="col-6"><a routerLink="/software-development" routerLinkActive="menu-active">Sofware Development</a></li>

                    <li class="col-6"><a routerLinkActive="menu-active" routerLink="/consultancy-services">Consultancy Services</a></li>
                    <li class="col-6"><a routerLinkActive="menu-active" routerLink="/fees-and-commission">Fees & Commission</a></li>
                    <li class="col-6"><a routerLinkActive="menu-active" routerLink="/dedicated-trading-accounts">Dedicated Trading Accounts</a></li>
                    <li class="col-6"><a routerLinkActive="menu-active" routerLink="/bonus">Bonus</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 address  no-gutters">
                <h3>Address</h3>
                <p>3rd Floor, Mulliner Towers, 39, Alfred Rewane Road Ikoyi, Lagos, Nigeria.</p>
                <p><strong>Tel:</strong> +234 817 458 2841</p>
                <p><strong>Tel 2: </strong> +234 806 034 6709</p>
                <p><strong>Email:</strong> info@reservesmanager.com</p>
            </div>
        </div>
    </div>
    <div class="bottom-footer  py-3 text-white">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="copyright">
                    <div class="cr">
                        <p class="mb-0">Copyright &copy; {{mydate}} All rights reserved | <strong>  Reserves Manager LTD </strong> </p>
                    </div>
                </div>
                <div class="developrer">
                    <p class="mb-0">Developed by <a target="_black" href="https://www.netprocreations.com/">Netpro Creations</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>