<div class="table-conshadow mt-0 table-responsive bg-white ">
    <table class="table mb-0 ">
        <tbody>
            <tr *ngFor="let country of countries">
                <td> <span>{{country?.name}}</span></td>
                <td class=" d-flex justify-content-end align-content-center align-items-center ">
                    <!-- <button (click)="openConfirmDialog(accountType?.name, 'Account Type', accountType?.id, 'accountType')" mat-icon-button>
                        <mat-icon class="text-danger">cancel</mat-icon>
                    </button> -->
                </td>
            </tr>

        </tbody>
    </table>
</div>