:host ::ng-deep {
    $primary: #0022ff;
    $gray: #EAEBF0;
    $dark-gray: rgb(0, 0, 0, 54%);
    $color-danger: #FFBBBB;
    $light-primary: #D1D8FF;
    .color-primary {
        color: #0022ff !important;
    }
    .color-danger {
        color: $color-danger;
    }
    .bg-light-primary {
        background-color: $light-primary;
    }
    .bg-primary {
        background-color: #0022ff !important;
    }
    .bg-gray {
        background-color: #EAEBF0 !important;
    }
    .btn-primary {
        background-color: $primary !important;
        // border-radius: 60px;
        // display: none;
        color: #ffffff;
    }
    .btn-light-primary {
        background-color: $light-primary !important;
        // border-radius: 60px;
        color: $primary
    }
    .btn-white {
        background-color: #ffffff !important;
        // border-radius: 60px;
        color: $primary;
    }
    .inner {
        header {
            margin-top: 90px;
        }
        .general-info {
            padding: 30px 20px 30px 20px;
            .profile-avater {
                // position: relative;
                border-radius: 50%;
                // background-color: #F7F8FF;
                margin-top: 40px;
                .mat-icon {
                    font-size: 100px;
                    height: 100px !important;
                    width: 100px !important;
                    margin: 0 auto !important;
                }
            }
            .form-con {
                .form-spinal-con {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.9);
                    z-index: 3;
                }
                .form-img-con {
                    img {
                        border-radius: 10px;
                    }
                    &:hover {
                        cursor: zoom-in;
                    }
                }
            }
        }
    }
    .img-prev-con {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        img {
            border-radius: 10px;
        }
    }
    //////// Responsive ////////////
    @media (max-width: 991.93px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
    }
    @media (max-width:767px) {}
    .img-prev-con {
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        // top: 0;
        // width: 100%;
        // left: 0;
        // z-index: 80;
        .img-prev-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }
    }
}