<!-- <div class="pre-loader" *ngIf="loading">
    <div class="lds-ripple"><div></div><div></div></div> 
</div> -->
<section class=" client-edu-section-1 showcase  animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>Client Education</h1>
        </div>
    </div>
</section>
<!-- ./ -->

<main>

    <section class=" client-edu-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <header class="headline">
                        <h1> <span> Client's Education! </span> Financial Futures Merchant </h1>
                    </header>

                    <div class="section">
                        <h3>What is Financial Futures</h3>
                        <p>Financial futures is a contract between Reserves Manager Limited, seller, our client and buyer that we sell our product now, example a specific future house rent value, which we call future cash value at a price, which we call
                            the present cash value. The future date, tenure for each contract start from three months and could be along as our client require.</p>
                        <h4>Our Futures Products.</h4>>
                        <ul>
                            <li>House rent.</li>
                            <li>School fees.</li>
                            <li>Value for holiday making.</li>
                            <li>Values for hajj and umrah.</li>
                            <li>Value for festivities and socialization.</li>
                            <li>Business ventures, salaries, wages, overhead and etc.</li>
                            <li>Debt payments.</li>
                            <li>Projects funding.</li>
                            <li>General reserves.</li>
                            <li>Others as clients require.</li>
                        </ul>
                        <p>
                            In today's world, unemployment, Job Insecurity, business uncertainty and failures, unreliable governments and bad policies, and high cost of borrowing funds, it is very necessary for individual and corporate entities to make adequate plans in other to
                            create adequate cash liquidates day to day financial obligations.
                        </p>

                        <h4>Our Futures Products Return Types</h4>
                        <ul>
                            <li>Fixed return.</li>
                            <li>Variable return.</li>
                            <li>Withdrawing variable return.</li>

                        </ul>
                        <p>
                            The price, present cash value for each category depend on both the future cash value and tenure, the longer the tenure the lower the present cash value.
                        </p>

                        <h4>Example</h4>
                        <ul>
                            <li>Client who require a future cash value of &#8358;600,000.00 Nigeria for house rent in 6 months from now, shall pay &#8358;200,000 now as present cash Value.</li>
                            <li>Client who require a future cash value of &#8358;600,000.00 for house rent in 12 months from now, shall pay &#8358;70,000.00 now as present cash value.</li>
                            <li>Client who require a future value of &#8358;600,000.00 for house rent in 24 months from now, shall pay &#8358;30,000.00 now as present cash value.</li>
                        </ul>

                        <p>Fixed return. The return, future cash value is determined upfront. The return is what the customer get on due date. Variable return. The return, future cash value is not determined upfront. The return depend our trade performance
                            for the futures tenure. monthly statements are sent to the customer to show monthly performances and all our service fees and commissions charges. withdrawing is not allowed until end of tenure. variable withdrawing return.
                            Is like variable return, but withdrawing is allowed after 3 months. However customer cannot withdraw to bring the equity bellow the present Cash Value.
                        </p>
                    </div>



                    <div class="section">
                        <h3>How Can You Buy</h3>



                        <p>1. Click on create offer. An offer would be created for you according to future value and tenure you input.</p>
                        <p>2. Click on create offer. If you are making general investment, you know the value of your investment, an offer would be created for you according to present cash value and tenure you input.
                        </p>

                        <p>Payment must be made within 7 Days when offer is created, otherwise is cancelled. However a new offer can be created when you are ready to make payment. Payments are allowed only through our bank, by cash or transfer. Your name
                            or offer number must must be stated in the payment or transfer, otherwise, call or send us any message. An offer become a contract in 0.00hour Nigerian time, that is 24 hours after payment. Valid telephone number and valid
                            photo identification are all required for your contract to be valid.</p>


                        <p> <strong>Please note</strong>, that presently our Clients requiring tenure of more than 2 years or present cash value of &#8358;500,000 and more must call our officers or come to our office for processing. future cash value, on
                            offer letter shall be denoted at minimum Naira and US Dollars equivalent on future date, that to hedge us against wide Naira value fluctuation in future. VIP clients, clients investing present cash value of &#8358;500,000 or
                            equivalent may those make their investments in USD, EUR, GBP. Piggy drop cash In other to allow all category of clients to benefit from our services, we allow petty gradual contribution as low as &#8358;5000.00 for variable
                            and variable withdrawing return.
                        </p>




                    </div>
                </div>
            </div>
        </div>
    </section>
</main>