<!-- <div class="pre-loader" *ngIf="loading">
    <div class="lds-ripple"><div></div><div></div></div> 
</div> -->
<section class=" client-edu-section-1 showcase  animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>Client Education</h1>
        </div>
    </div>
</section>
<!-- ./ -->

<main>

    <section class=" client-edu-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <header class="headline">
                        <h1> <span> Client's Education! </span> Finanacial Futures Merchant </h1>
                    </header>

                    <div class="section">
                        <h3>What is Financial Futures.</h3>
                        <p>Finanacial Futures is a contract between Reserves Manager Limited, seller and our Client, buyer. that we sell our Product now, example specific future House Rent Value, which we call Future Cash Value at a Price, which we call
                            the Present Cash Value. The future date, Tenure for each contract start from three months and could be along as our Clents require.</p>
                        <h4>Our Futures Products.</h4>
                        <ul>
                            <li>House Rent.</li>
                            <li>School Fees.</li>
                            <li>Value for Holiday Making.</li>
                            <li>Values for Hajj and Umrah.</li>
                            <li>Value for Festivities and Socialisation.</li>
                            <li>Business Ventures, Salaries, Wages, Overhead and etc.</li>
                            <li>Debt Payments.</li>
                            <li>Projects Funding.</li>
                            <li>General Reserves.</li>
                            <li>Others as Clients Require.</li>
                        </ul>
                        <p>
                            In today's World, Unemployment, Job Insecurity, Busuness Uncertainty and Failures, Unreliable Governments and Bad Policies, and high cost of borrowing funds, it is very neceesary for Individual and Corporate Entities to make adeguate plans in other to
                            create adequate cah liquidities day to day financial obligations.
                        </p>

                        <h4>Our Futures Products Return Types.</h4>
                        <ul>
                            <li>Fixed Return.</li>
                            <li>Variable Return.</li>
                            <li>Withdrawing Variable Return.</li>

                        </ul>
                        <p>The Price, Present Cash Value for each category depend on both the Future Cash Value and Tenure, the longer the Tenure the lower the Present Cash Value.</p>

                        <h4>Example.</h4>
                        <ul>
                            <li>Client who require a Future Cash Value of 600,000.00 Nigeria Naira for House Rent in 6 months from now, shall pay 200,000 Naira now as Present Cash Value.</li>
                            <li>Client who require a Future Cash Value of 600,000.00 Nigeria Naira for House Rent in 12 months from now, shall pay 70,000.00 Naira now as Present Cash Value.</li>
                            <li>Client who require a Future Value of 600,000.00 Nigeria Naira for House Rent in 24 months from now, shall pay 30,000.00 Naira now as Present Cash Value.</li>
                        </ul>

                        <p>Fixed Return. The return, Future Cash Value is determined upfront. The return is what the customer get on due date. Variable Return. The return, Future Cash Value is not determined upfront. The return depend our Trade Performance
                            for the futures tenure. Monthly Statements are sent to the customer to show monthly performances and all our service fees and Commissions charges. Withdrawing is not allowed until end of tenure. Variable Withdrawing Return.
                            Is like Variable Return, but withdrawing is allowed after 3months. However Customer cannot withdraw to bring the Equity bellow the Present Cash Value.
                        </p>
                    </div>



                    <div class="section">
                        <h3>How can you Buy.</h3>
                        <p>1. Click on Create Offer. An Offer would be created for you according to Future Value and Tenure you input.</p>
                        <p>2. Click on Create Offer. If you are making General Investment, you know the Value of your Investment, an Offer would be created for you according to Present Cash Value and Tenure you input.
                        </p>

                        <p>Payment must be made within 7 Days when Offer is created, otherwise is cancelled, However a new offer can be created when you are ready to make payment. Payments are allowed only through our Bank, by Cash or Transfer. Your Name
                            or Offer Number must must be stated in the payment or transfer, otherwise, call or send us any message. An Offer become a contract 0.00hour Nigerian time, that is 24hours after payment. Valid Telephone number and Valid Photo
                            Identification are all required for your contract to be valid.</p>


                        <p> Please Note, that presently our Clients requiring Tenure of more than 2 years or Present Cash Value of 500,000 Nigeria Naira and more must call our Officers or come to our Office for processing. Future Cash Value, on Offer letter
                            shall be denoted at minimum Naira and US Dollas equivalent on future date, that to hedge us against wide Naira value fluatuation in future. VIP Clients,Clients investing Present Cash Value of 500,000 Nigeria Naira or equivalent
                            may those make their investments in USD,EUR,GBP. Piggy Drop Cash,In other to allow all category of Clients to benefit from our services, we allow Petty gradual contribution as low as N5000.00 for Variable and Variable withdrawing
                            Return.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>