<section class="showcase animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>Bonus !!!</h1>
        </div>
    </div>
</section>
<main>

    <section class="bonus-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <header class="headline">
                        <h1> <span> Bonus ! Bonus !! Bonus !!! </span> Clients Investment Bonus</h1>
                    </header>

                    <div class="section">

                        <p> Apart from the Futures Values that we pay to our client, at the end of an investment tenure, depending on our performance, additional optional bonus are also credited to our clients accounts. This is our incentive strategy to encourage
                            our clients to obtain periodical and perpetual investment returns even after their inertial investments has ended.</p>

                        <p>How does Clients Investment Bonus work Example a client has investment plan of N100,000.00 with us for tenure of 12 months at end of 12 months he or she withraw all the returns FutureValue about N300,000.00 if we declare bonus
                            of N30,000.00 such client has N30,000.00 investment still running because bonuse are not withdrable but returns make by the bonus are withdrable, so at end of every 12months after his or her investment terminates can still
                            withraw N60,000.0, which is return made by the bonus</p>

                        <h3>Sales Agents and Clients Referrer Bonus</h3>
                        <p>
                            When any of our Clients or an affiliate Clients refer a friend who take up an Investment, at end of the investment tenure of the person you refer, certain percentage of the return Future Value of the investments are credited to the referers account as
                            cash and invesment bonus, cash bonus are withrawbale at any time if Client closes his or her account, all bonus are forfeited, but returns already created by such bonus are withrawable
                        </p>

                    </div>


                </div>
            </div>
        </div>
    </section>
</main>