:host ::ng-deep {
    $primary: #0022ff;
    $gray: #EAEBF0;
    $dark-gray: rgb(0, 0, 0, 54%);
    $color-danger: #FFBBBB;
    $light-primary: #D1D8FF;
    .color-primary {
        color: #0022ff !important;
    }
    .color-danger {
        color: $color-danger;
    }
    .bg-light-primary {
        background-color: $light-primary;
    }
    .bg-primary {
        background-color: #0022ff !important;
    }
    .bg-gray {
        background-color: #EAEBF0 !important;
    }
    .btn-primary {
        background-color: $primary !important;
        // border-radius: 60px;
        color: #ffffff;
    }
    .btn-light-primary {
        background-color: $light-primary !important;
        // border-radius: 60px;
        color: $primary
    }
    .btn-white {
        background-color: #ffffff !important;
        // border-radius: 60px;
        color: $primary;
    }
    .inner {
     
        header {
            // margin-top: 90px;
        }
        .general-info {
            padding: 30px 20px 30px 20px;
         
            .profile-avater {
                // position: relative;
                
                border-radius: 50%;
                // background-color: #F7F8FF;
             
                margin-top: 20px;
                .mat-icon{
                    font-size: 100px ;
                    height: 100px !important;
                    width: 100px !important;
                    margin: 0 auto !important;
                        }
              
               
            }
            .form-con {
                padding-left: 15px;
                .mat-form-field {
                    // width: 90%;
                }
            }
        }
        .reset-password {
            padding: 30px 20px 30px 20px;
            border-radius: 0px 30px 30px 0px;
            height: 100%;
        }
    }

    .custom-file-label {
        border: 1px solid initial !important;
        &:focus {}
    }
    .custom-file-label::after {
        // color: #ffffff $primary;
        // background-color: $light-primary !important;
        // border-color: $light-primary !important;
    }
    // .custom-file-label:focus {
    //     color: #495057;
    //     background-color: #fff;
    //     border-color: #ffc107 !important;
    //     outline: 0;
    //     box-shadow: 0 0 0 0.2rem #eee !important;
    // }



   
        .table  {
    
         
            thead th{
                border: 0 !important;
            }
    
            tr{
                // border-bottom: 5px solid #eaebf0;
                // border-top: 5px solid #eaebf0;
                // border-color:#eaebf0 !important;
    
                
            }
    
          td {
               
                vertical-align: middle !important;
                overflow: hidden;
                border-color:#eaebf0 !important;
                
            }
            
        }
    


    //////// Responsive ////////////
    @media (max-width: 991.93px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
    }
}