<section class="showcase animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>Fees and Commission</h1>
        </div>
    </div>
</section>

<main>
    <section class="fees-commission-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <header class="headline">
                        <h1> <span> Service Fees &amp; Commission </span> Percentage Rates, Service Fees </h1>
                    </header>




                    <div class="section">
                        <p> <strong>We charge percentage of wealth we create for as service Fees and the rate changes
                             progressively at end of month service fees are calculated as follows, example: 
                             A client invest &#8358;400,000 </strong></p>
                        <ul>
                            <li><b>10%</b> Flat of wealth we create at 100%</li>
                            <li><b>20%</b> Flat of wealth we create above 100%</li>
                            <li><b>30%</b> Flat of wealth we create above 200%</li>
                            <li><b>40%</b> Flat of wealth we create above 300%</li>
                            <li><b>50%</b> Flat of wealth we create above 400%</li>
                        </ul>



                        <h3>Month 1:</h3>

                        <ul>

                            <li>End of month 1 equity is &#8358;600,000</li>
                            <li>10% of &#8358;200,000 equal &#8358;20,000</li>
                            <li>At end of month 1, our total service Fees = &#8358;20,000</li>
                        </ul>


                        <h3>Month 3:</h3>
                        <ul>

                            <li>End of month equity is &#8358;900,000</li>
                            <li>10% of &#8358;400,000 equal &#8358;40,000 excess = &#8358;100,000</li>
                            <li>20% of &#8358;100,000 equal &#8358;20,000 excess = &#8358;0</li>
                            <li>At end of month 3, our total service Fees = &#8358;60,000</li>
                        </ul>


                        <h3>Month 5:</h3>
                        <ul>

                            <li>End of month 5 equity is &#8358;1,100,000</li>
                            <li>10% of &#8358;400,000 equal &#8358;40,000 excess = &#8358;700,000</li>
                            <li>20% of &#8358;400,000 equal &#8358;80,000 excess = &#8358;300,000</li>
                            <li>30% of &#8358;300,000 equal &#8358;90,000 excess = &#8358;0</li>
                            <li>At end of month 5, our total service Fees = &#8358;240,000</li>
                        </ul>

                        <h3>Month 7:</h3>
                        <ul>

                            <li>End of month 7 equity is &#8358;1,300,000</li>
                            <li>10% of &#8358;400,000 equal &#8358;40,000 excess = &#8358;700,000</li>
                            <li>20% of &#8358;400,000 equal &#8358;80,000 excess = &#8358;300,000</li>
                            <li>30% of &#8358;400,000 equal &#8358;120,000 excess = &#8358;100,000</li>
                            <li>40% of &#8358;100,000 equal &#8358;40,000 excess = &#8358;0</li>
                            <li>At end of month 7, our total service Fees = &#8358;280,000</li>
                        </ul>

                        <h3>Month 12:</h3>
                        <ul>

                            <li>End of month 12 equity is &#8358;1,700,000</li>
                            <li>10% of &#8358;400,000 equal &#8358;40,000 excess = &#8358;700,000</li>
                            <li>20% of &#8358;400,000 equal &#8358;80,000 excess = &#8358;300,000</li>
                            <li>30% of &#8358;400,000 equal &#8358;120,000 excess = &#8358;100,000</li>
                            <li>40% of &#8358;400,000 equal &#8358;160,000 excess = &#8358;400,000</li>
                            <li>50% of &#8358;100,000 equal &#8358;50,000 excess = &#8358;0</li>
                            <li>At end of month 12, our total service Fees = &#8358;330,000</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>