<div class="animated fadeInUp setings">


    <div class="inner mt-4  mb-5">

        <!-- 
            ============ ========
            INVESTMENT PERIOD
            =============  =======
            -->
        <div class="row  animated fadeInUp">
            <div class="col-12 ">

                <div class="row  no-gutters">
                    <div class="col-md-12 ">
                        <div *ngIf="loading" class="progress-bar-con">
                        </div>
                        <div class="bg-white bank-form">
                            <div class="d-flex  ">
                                <form [formGroup]="bankDetailsForm" class="form-con w-100">
                                    <div class="row animated fadeIn">
                                        <div class="col-md-12">
                                            <h5 class="text-black">Bank Details</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="number" formControlName="account_number" placeholder="Account Number" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput formControlName="account_name" placeholder="Account Name" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput formControlName="bank_name" placeholder="Bank" required>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pb-2 mt-5 d-flex justify-content-between">
                                                <div>
                                                    <button *ngIf="noBankDetails" (click)="onBankFormSubmit('add')" class="btn-primary" mat-raised-button>Save</button>
                                                    <button *ngIf="!noBankDetails" (click)="onBankFormSubmit('edit')" class="btn-primary" mat-raised-button>Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!-- <div class="router-con" >
            <router-outlet #routeData="outlet"></router-outlet>
        </div> -->

    </div>

</div>