<div class="animated fadeInUp" style="min-height: 100%; margin-bottom: 200px;">
    <div class="container">
        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-between  ">
                <div class="d-flex align-content-center  align-items-center">
                    <h4> Accounts </h4>
                   
                </div>
                <div class="d-flex align-content-center  align-items-center">
                    
                        <button (click)="openCreatAccountDialog()" mat-raised-button class="btn-primary">Create New <mat-icon>add</mat-icon> </button>
                    
                </div>
            </header>


            <div class="row mt-3 ">
                <div class="col-12 ">
                <div class="table-conshadow mt-0 bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Account No.</th>
                                <th>Owner</th>
                                <th>Balance</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td routerLink="495859597" class="account-no">#495859597</td>
                                <td>Saint Zion</td>
                                <td> &#8358;990, 000</td>
                                <td>20/12/2019</td>
                                
                                <td>
                                    <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button>
                                        <mat-icon class="text-primary">create</mat-icon>
                                    </button>
                                  
                                    <button (click)="openConfirmDialog()"  mat-icon-button>
                                        <mat-icon class="text-danger">delete_outline</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td routerLink="495859597" class="account-no">#495859597</td>
                                <td>Saint Zion</td>
                                <td> &#8358;990, 000</td>
                                <td>20/12/2019</td>
                                
                                <td>
                                    <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button>
                                        <mat-icon class="text-primary">create</mat-icon>
                                    </button>
                                    <button (click)="openConfirmDialog()"  mat-icon-button>
                                        <mat-icon class="text-danger">delete_outline</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td routerLink="495859597" class="account-no">#495859597</td>
                                <td>Saint Zion</td>
                                <td> &#8358;990, 000</td>
                                <td>20/12/2019</td>
                                
                                <td>
                                    <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button>
                                        <mat-icon class="text-primary">create</mat-icon>
                                    </button>
                                    <button (click)="openConfirmDialog()"  mat-icon-button>
                                        <mat-icon class="text-danger">delete_outline</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td routerLink="495859597" class="account-no">#495859597</td>
                                <td>Saint Zion</td>
                                <td> &#8358;990, 000</td>
                                <td>20/12/2019</td>
                                
                                <td>
                                    <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button>
                                        <mat-icon class="text-primary">create</mat-icon>
                                    </button>
                                    <button (click)="openConfirmDialog()"  mat-icon-button>
                                        <mat-icon class="text-danger">delete_outline</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td routerLink="495859597" class="account-no">#495859597</td>
                                <td>Saint Zion</td>
                                <td> &#8358;990, 000</td>
                                <td>20/12/2019</td>
                                
                                <td>
                                    <button  (click)="openEditAccountDialog('#495859597', 'individual', 'naira', '18')" mat-icon-button>
                                        <mat-icon class="text-primary">create</mat-icon>
                                    </button>
                                    <button (click)="openConfirmDialog()"  mat-icon-button>
                                        <mat-icon class="text-danger">delete_outline</mat-icon>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            </div>


            <!-- <div class="row mt-5">
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="account-box">
                        <button class=" acount-avater bg-light-primary" mat-icon-button>
                        <mat-icon class="color-primary mx-auto">account_balance_wallet__outline</mat-icon>
                    </button>
                        <div class="divider">
                            <h3> &#8358;900, 000</h3>
                            <small>Balence</small>
                        </div>

                        <div class="divider">
                            <h5>#495859597</h5>
                            <small>Account Number</small>
                        </div>

                        <div>
                            <button routerLink="ggg" mat-button class="btn-outline-primary w-50">
                                Modify
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="account-box">
                        <button class=" acount-avater bg-light-success" mat-icon-button>
                        <mat-icon class="color-success mx-auto">account_balance_wallet__outline</mat-icon>
                    </button>
                        <div class="divider">
                            <h3> &#8358;170, 000</h3>
                            <small>Balence</small>
                        </div>

                        <div class="divider">
                            <h5>#495859597</h5>
                            <small>Account Number</small>
                        </div>

                        <div>
                            <button mat-button class="btn-outline-success w-50">
                                Modify
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="account-box">
                        <button class=" acount-avater bg-light-primary" mat-icon-button>
                        <mat-icon class="color-primary mx-auto">account_balance_wallet__outline</mat-icon>
                    </button>
                        <div class="divider">
                            <h3> &#8358;00. 000</h3>
                            <small>Balence</small>
                        </div>

                        <div class="divider">
                            <h5>#495859597</h5>
                            <small>Account Number</small>
                        </div>

                        <div>
                            <button mat-button class="btn-outline-primary w-50">
                                Modify
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="account-box">
                        <button class=" acount-avater bg-light-success" mat-icon-button>
                        <mat-icon class="color-success mx-auto">account_balance_wallet__outline</mat-icon>
                    </button>
                        <div class="divider">
                            <h3> $300, 000</h3>
                            <small>Balence</small>
                        </div>

                        <div class="divider">
                            <h5>#495859597</h5>
                            <small>Account Number</small>
                        </div>

                        <div>
                            <button mat-button class="btn-outline-success w-50">
                                Modify
                            </button>
                        </div>

                    </div>
                </div>
            </div> -->
<div class="d-none">

            <header class="d-flex justify-content-between px-2 ">
                <div class="d-flex align-content-center  align-items-center">
                    <h5>Bank Details </h5>
                </div>
            </header>
        </div>
            <div class="row mt-4 no-gutters d-none">
                <div class="col-md-8 ">
                    <div class="bg-white general-info">
                        <div class="d-flex ">
                            <div>
                                <button class=" profile-avater" mat-icon-button>
                                    <mat-icon class="color-primary mx-auto">account_balance_wallet__outline</mat-icon>
                                </button>
                                <!-- <div class="profile-avater">
                                    <div class="avater-content d-flex align-items-center align-content-center justify-content-center">

                                       
                                    </div>

                                </div> -->
                            </div>

                            <div class="form-con">


                                <div class="row ">
                                    <div class="col-md-12">
                                        <h5 class="text-black">Your Bank Details</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="w-100">
                                            <input matInput type="number" name="firstname" placeholder="Account Number" required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="w-100">
                                            <mat-select placeholder=" Bank" required>

                                                <mat-option value="First_Bank">First bank</mat-option>
                                                <mat-option value="Eko_Bank">Eko bank</mat-option>
                                                <mat-option value="First_Bank">First bank</mat-option>
                                                <mat-option value="First_Bank">First bank</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field class="w-100">
                                            <input matInput type="text" placeholder="Account Name" required>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-6 mt-5">
                                        <div class="pb-2 mt-2 d-flex justify-content-between">
                                            <div>
                                                <button class="btn-primary" mat-raised-button>Save changes</button>
                                            </div>
                                            <!-- <div>
                                                <button class="btn-light-primary" mat-raised-button>Cancel</button>
                                            </div> -->

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="bg-light-primary reset-password">
                        <div class="form-co">


                            <div class="row ">
                                <div class="col-md-12">
                                    <h5 class="text-black">Admin Bank Details</h5>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="d-flex justify-content-between">
                                        <p>Account No.</p>
                                        <p class="color-primary">4567807928</p>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <div class="d-flex justify-content-between">
                                        <p>Account Name</p>
                                        <p class="color-primary">Muhanmadu Buhary</p>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <div class="d-flex justify-content-between">
                                        <p>Bank</p>
                                        <p class="color-primary">GT Bank</p>
                                    </div>
                                </div>





                            </div>




                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>