<div class="animated fadeInUp setings">


    <div class="inner mt-4  mb-5">
        <!-- <h4 class="">Utility</h4> -->
        <div class="rounded-nav-con  mt-3">
            <mat-toolbar>
                <div class="d-flex justify-content-between align-content-center align-items-center w-100">
                    <div class="nav-con">
                        <button [ngClass]="{'active': active == 'gender'}" (click)="getGlug('gender')" routerLink="gender" mat-button>
                            Gender
                        </button>

                        <button [ngClass]="{'active': active == 'country'}" (click)="getGlug('country')" routerLink="country" mat-button>
                      Country
                    </button>

                        <button [ngClass]="{'active': active == 'account-type'}" routerLink="account-type" (click)="getGlug('account-type')" mat-button>
                      Account Type
                    </button>

                        <button [ngClass]="{'active': active == 'denomination'}" routerLink="denomination" (click)="getGlug('denomination')" mat-button>
                        Denomination
                      </button>

                        <button [ngClass]="{'active': active == 'promotion-type'}" routerLink="promotion-type" (click)="getGlug('promotion-type')" mat-button>
                        Promotion Type
                      </button>
                        <button [ngClass]="{'active': active == 'investment-period'}" routerLink="investment-period" (click)="getGlug('investment-period')" mat-button>
                       Investment Period
                      </button>

                        <button [ngClass]="{'active': active == 'bank-details'}" routerLink="bank-details" (click)="getGlug('bank-details')" mat-button>
                        Bank Details
                       </button>
                    </div>

                </div>
            </mat-toolbar>
        </div>



        <!-- 
                    ============ ========
                    GENDA 
                    =============  =======
                    -->

        <div *ngIf=" active == 'gender'" class="row mt-3 animated fadeInUp">

            <div class="col-12 ">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4> Gender </h4>

                    </div>
                    <div class="d-flex align-content-center  align-items-center">

                        <button (click)="addGenderDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>

                    </div>
                </header>
                <div class="text-center" *ngIf="genders.length < 1 else showGender">
                    <p>No Gender to display.</p>
                </div>

                <ng-template #showGender>
                    <div class="table-conshadow mt-0 table-responsive bg-white ">
                        <table class="table mb-0 ">
                            <tbody>
                                <tr [ngClass]="{'bg-ligh': odd }" *ngFor="let gender of genders; let odd = odd">
                                    <td> <span>{{gender.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(gender?.name, 'Gender', gender?.id, 'gender')" mat-icon-button>
                                            <mat-icon class="text-danger">cancel</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </ng-template>
            </div>
        </div>

        <!-- 
                    ============ ========
                   COUNTRY
                    =============  =======
                    -->
        <div *ngIf=" active == 'country'" class="row mt-3 animated fadeInUp">
            <div class="col-12">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4>Country</h4>
                    </div>
                    <div class="d-flex align-content-center  align-items-center">
                        <button (click)="addCountryDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>
                    </div>
                </header>

                <div class="text-center" *ngIf="countries.length < 1 else showCountry">
                    <p>No Country to display</p>
                </div>
                <ng-template #showCountry>
                    <!-- <app-dashboard-display-utility [countries]="promotionTypes"></app-dashboard-display-utility> -->
                    <!-- <p>{{countries | json}}</p> -->
                    <div class="table-conshadow mt-0 table-responsive  bg-white">
                        <table class="table mb-0">
                            <tbody>
                                <tr [ngClass]="{'bg-ligh': odd }" *ngFor="let country of countries | slice:pageStart:pageEnd; let odd = odd; let index = index">
                                    <td> <span>{{country?.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(country?.name, 'Country', country?.id, 'country')" mat-icon-button>
                                                <mat-icon class="text-danger">cancel</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="..." class="mt-2 mx-auto">
                        <ul class="pagination">
                            <li class="page-item">
                                <!-- this.pagePrevEnd = false; -->
                                <button [disabled]="pagePrevEnd" class="page-link" (click)="pagePrev(pageStart, pageEnd, countries)" aria-label="Previous">
                                    <span [ngClass]="{'text-muted': pagePrevEnd}" aria-hidden="true">Prev</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>
                            <!-- <ng-container *ngFor="let country of countries | slice:pageStart:pageEnd; let index = index ">
                                <li class="page-item"><a class="page-link" href="#">{{index}}</a></li>
                            </ng-container> -->
                            <li class="page-item">
                                <button [disabled]="pageNextEnd" class="page-link" (click)="pageNext(pageStart, pageEnd, countries)" aria-label="Next">
                                    <span [ngClass]="{'text-muted': pageNextEnd}" aria-hidden="true">Next</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </ng-template>
            </div>
        </div>



        <!-- 
                ============ ========
                ACCOUNT TYPE
                =============  =======
                -->
        <div *ngIf=" active == 'account-type'" class="row mt-3 animated fadeInUp">
            <div class="col-12 ">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4> Account Type </h4>
                    </div>
                    <div class="d-flex align-content-center  align-items-center">

                        <button (click)="addAccountTypeDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>

                    </div>
                </header>
                <div class="text-center" *ngIf="accountTypes.length < 1 else showAccountType">
                    <p>No Account Type to display</p>
                </div>
                <ng-template #showAccountType>
                    <div class="table-conshadow mt-0 table-responsive bg-white ">
                        <table class="table mb-0 ">
                            <tbody>
                                <tr *ngFor="let accountType of accountTypes">
                                    <td> <span>{{accountType?.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(accountType?.name, 'Account Type', accountType?.id, 'accountType')" mat-icon-button>
                                            <mat-icon class="text-danger">cancel</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>


        <!-- 
                    ============ ========
                    DENOMINATION
                    =============  =======
                    -->
        <div *ngIf=" active == 'denomination'" class="row mt-3 animated fadeInUp">
            <div class="col-12 ">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4> Denomination </h4>

                    </div>
                    <div class="d-flex align-content-center  align-items-center">
                        <button (click)="addDenominationDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>
                    </div>
                </header>
                <div class="text-center" *ngIf="denominations.length < 1 else showDenomination">
                    <p>No Denomination to display</p>
                </div>
                <ng-template #showDenomination>
                    <div class="table-conshadow mt-0 table-responsive bg-white ">
                        <table class="table mb-0 ">
                            <tbody>
                                <tr *ngFor="let denomination of denominations">
                                    <td> <span>{{denomination?.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(denomination?.name, 'Denomination', denomination.id, 'denomination')" mat-icon-button>
                                                <mat-icon class="text-danger">cancel</mat-icon>
                                            </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>


        <!-- 
                    ============ ========
                    PROMOTION TYPE
                    =============  =======
                    -->
        <div *ngIf=" active == 'promotion-type'" class="row mt-3 animated fadeInUp">
            <div class="col-12 ">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4> Promotion Type </h4>

                    </div>
                    <div class="d-flex align-content-center  align-items-center">
                        <button (click)="addPromotionTypeDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>
                    </div>
                </header>
                <div class="text-center" *ngIf="promotionTypes.length < 1 else showPromotionType">
                    <p>No Promotion Type to display</p>
                </div>
                <ng-template #showPromotionType>
                    <div class="table-conshadow mt-0 table-responsive bg-white ">
                        <table class="table mb-0 ">
                            <tbody>
                                <tr *ngFor="let promotionType of promotionTypes">
                                    <td> <span>{{promotionType?.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(promotionType?.name, 'Promotion Type', promotionType?.id, 'promotionType')" mat-icon-button>
                                                <mat-icon class="text-danger">cancel</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- 
                    ============ ========
                    INVESTMENT PERIOD
                    =============  =======
                    -->
        <div *ngIf="active == 'investment-period'" class="row mt-3 animated fadeInUp">
            <div class="col-12 ">
                <header class="d-flex justify-content-between mt-4 mb-3 ">
                    <div class="d-flex align-content-center  align-items-center">
                        <h4> Investment Period</h4>

                    </div>
                    <div class="d-flex align-content-center  align-items-center">
                        <button (click)="addInvestmentPeriodDialog()" mat-raised-button class="btn-primary">Add new <mat-icon>add</mat-icon></button>
                    </div>
                </header>
                <div class="text-center" *ngIf="investmentPeriods.length < 1 else showInvestmentPeriod">
                    <p>No Investment Period to display</p>
                </div>
                <ng-template #showInvestmentPeriod>
                    <div class="table-conshadow mt-0 table-responsive bg-white ">
                        <table class="table mb-0 ">
                            <tbody>
                                <tr *ngFor="let investmentPeriod of investmentPeriods">
                                    <td> <span>{{investmentPeriod?.name}}</span></td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        <button (click)="openConfirmDialog(investmentPeriod?.name, 'Investment Period', investmentPeriod?.id, 'investmentPeriod')" mat-icon-button>
                                                <mat-icon class="text-danger">cancel</mat-icon>
                                            </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </div>


        <!-- 
                    ============ ========
                   BANK DETAILS
                    =============  =======
                    -->
        <div *ngIf=" active == 'bank-details'" class="row mt-3 animated fadeInUp">
            <div class="col-12 ">
                <div class="row  no-gutters">
                    <div class="col-md-12 ">
                        <div *ngIf="loading" class="progress-bar-con">
                        </div>
                        <div class="bg-white bank-form">
                            <div class="d-flex  ">
                                <form [formGroup]="bankDetailsForm" (ngSubmit)="bankDetailsSubmit()" class="form-con w-100">
                                    <div class="row animated fadeIn">
                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="number" formControlName="account_number" placeholder="Account Number" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="text" formControlName="account_name" placeholder="Account Name" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <mat-form-field class="w-100">
                                                <input matInput type="text" formControlName="bank_name" placeholder="Bank Name" required>
                                            </mat-form-field>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pb-2 mt-5 d-flex justify-content-between">
                                                <div>
                                                    <button *ngIf="noBankDetails" class="btn-primary" mat-raised-button>Save</button>
                                                    <button *ngIf="!noBankDetails" class="btn-primary" mat-raised-button>Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>