<!-- ADD AND EDIT ACCOUNT -->
<!-- <form [formGroup]="transactionForm" (ngSubmit)="onAccountOperationFormSubmit()">
    <div *ngIf="!loading" class="row animated fadeIn">
        <div class="col-md-12">
            <h5 class="text-black mb-3 text-muted">
                {{data?.title}}

            </h5>
        </div>

        <div class="col-md-12">
            <h5 class="text-black mb-3">
                #{{data?.account_number}}
            </h5>
        </div>


        <div class="col-md-12">
            <mat-form-field class="w-100">
                <input matInput formControlName="amount" type="number" placeholder="Amount" required tabindex="-1">
            </mat-form-field>
        </div>

        <ng-container *ngIf="data?.type == 'transfer'">
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-select formControlName="account_transfer_from" placeholder="From:" required tabindex="-1">
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <mat-select formControlName="account_transfer_from" placeholder="To:" required tabindex="-1">
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                        <mat-option value="Saint Zion">Saint Zion</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </ng-container>


        <div class="col-md-12 mt-3">
            <div class="  d-flex justify-content-end w-100">
                <div>
                    <button class="btn-light-primary" tabindex="-1" mat-dialog-close mat-raised-button>Cancel</button>
                </div>
                <div class="ml-3">
                    <button class="btn-primary" tabindex="-1" mat-raised-button>Deposite</button>
                </div>

            </div>
        </div>
    </div>
</form> -->



<!-- Doposite -->
<form *ngIf="data?.type == 'deposite'" [formGroup]="depositeForm">
    <div class="row">
        <div mat-dialog-title class="col-md-12">
            <h5 class="text-black mb-0">
                Deposite Request
            </h5>
        </div>



        <div class="col-md-12">
            <div mat-dialog-content>
                <div *ngIf="!goNext">
                    <h6 class="text-black mb-4 color-primary">
                        Use this bank details for deposite?
                    </h6>
                    <div class="d-flex justify-content-between">
                        <p class="">Account No.:</p>
                        <p class="">{{bankDetails?.account_number}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="">Account Name:</p>
                        <p class="">{{bankDetails?.account_name}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="">Bank:</p>
                        <p class="">{{bankDetails?.bank_name}}</p>
                    </div>

                    <div class="d-flex justify-content-center py-2 mt-5 mb-5">
                        <button routerLink="/dashboard/settings/bank-details" class="color-primary" tabindex="-1" mat-raised-button>Change</button>
                        <button (click)="goNext = true" class="btn-primary ml-5" tabindex="-1" mat-raised-button>Yes use it</button>
                    </div>

                </div>



                <div *ngIf="goNext">
                    <h6 class="text-black mb-4 color-primary">How much do want to deposite?</h6>
                    <mat-form-field class="w-100">
                        <input matInput formControlName="request_amount" type="number" placeholder="Account" required tabindex="-1">
                    </mat-form-field>
                </div>


            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div mat-dialog-actions class="d-flex justify-content-end w-100 ">
                <div>
                    <button color="warn" tabindex="-1" mat-dialog-close mat-button>Cancel</button>
                </div>
                <div class="ml-3">
                    <button (click)="onDepositeFormSubmit()" *ngIf="goNext" class="btn-primary" tabindex="-1" mat-raised-button>Sendd request</button>
                </div>

            </div>
        </div>
    </div>
</form>



<!-- Doposite -->
<form *ngIf="data?.type == 'withdraw'" [formGroup]=" withdrawForm">
    <div class="row">
        <div mat-dialog-title class="col-md-12">
            <h5 class="text-black mb-0">
                Withdraw Request
            </h5>
        </div>

        <div class="col-md-12">
            <div mat-dialog-content class="mt-3">
                <div *ngIf="!goNext">
                    <!-- This will show if user have not added bank details -->
                    <div *ngIf="noBankDetails" class="pb-2">
                        <h6 class="text-muted">
                            <mat-icon class="text-warning">warning</mat-icon> Sorry, you need to add your bank details before you withdraw. Your bank details is where your money will be paid into. </h6>
                        <div class="text-center">
                            <button routerLink="/dashboard/settings/bank-details" class="color-primary  mt-5 mb-3" mat-dialog-close tabindex="-1" mat-raised-button>Add bank details</button>
                        </div>
                    </div>

                    <!-- This will show if user have added bank details -->
                    <div *ngIf="!noBankDetails">
                        <h6 class="text-black mb-4 color-primary">
                            Use this bank details for withdrawal?
                        </h6>

                        <div class="d-flex justify-content-between">
                            <p class="">Account No.:</p>
                            <p class="">{{bankDetails?.account_number}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="">Account Name:</p>
                            <p class="">{{bankDetails?.account_name}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="">Bank:</p>
                            <p class="">{{bankDetails?.bank_name}}</p>
                        </div>

                        <div class="d-flex justify-content-center py-2 mt-4 mb-4">
                            <button routerLink="/dashboard/settings/bank-details" class="color-primary" mat-dialog-close tabindex="-1" mat-raised-button>Change</button>
                            <button (click)="goNext = true" class="btn-primary ml-5" tabindex="-1" mat-raised-button>Yes use it</button>
                        </div>
                    </div>

                </div>

                <div *ngIf="goNext" class="mb-5">
                    <h6 class="text-black mb-4 color-primary">
                        <span class="text-muted">Balance: </span> &#8358; {{data?.balance}}
                    </h6>
                    <h6 class="text-black mb-4 color-primary">How much do want to withdraw?</h6>
                    <mat-form-field class="w-100">
                        <input matInput formControlName="request_amount" type="number" placeholder="Account" required tabindex="-1">
                    </mat-form-field>
                </div>


            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div mat-dialog-actions class="d-flex justify-content-end w-100 ">
                <div>
                    <button color="warn" tabindex="-1" mat-dialog-close mat-button>Cancel</button>
                </div>
                <div class="ml-3">
                    <button *ngIf="goNext" (click)="onWithdrawFormSubmit()" class="btn-primary" tabindex="-1" mat-raised-button>Send request</button>
                </div>

            </div>
        </div>
    </div>

</form>