<h1 mat-dialog-title>Features Update</h1>

<div mat-dialog-content>
    <section class="mb-4">
        <h5>
            <mat-icon>group</mat-icon> Users</h5>
        <div class="pl-3">
            <div class="d-flex justify-content-between w-100">
                <p>1. Add new user</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>2. Get all users</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>3. Edit user</p>
                <p>💙</p>
            </div>

            <div class="d-flex justify-content-between w-100">
                <p>4. Delete user</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>5. View user details</p>
                <p>💙</p>
            </div>

        </div>
    </section>

    <section class="mb-4">
        <h5>
            <mat-icon>account_balance_wallet</mat-icon> Accounts</h5>
        <div class="pl-3">
            <div class="d-flex justify-content-between w-100">
                <p>1. Add new account</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>2. Get all accounts</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>3. Edit account</p>
                <p>💙</p>
            </div>

            <div class="d-flex justify-content-between w-100">
                <p>4. Delete accounts</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>5. View account details</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>6. Deposite</p>
                <p>🤍</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>7. Withdraw</p>
                <p>🤍</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>8. Transfer</p>
                <p>🤍</p>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h5>
            <mat-icon>person</mat-icon>Profile <small>(Settings)</small></h5>
        <div class="pl-3">
            <div class="d-flex justify-content-between w-100">
                <p>1. Get profile details</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>2. Edit</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>3. Change password</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>4. Upload documents..</p>
                <p>🤍</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>4. Add bank details</p>
                <p>🤍</p>
            </div>
        </div>
    </section>

    <section class="mb-4">
        <h5>
            <mat-icon>settings</mat-icon>Utility <small>(Settings)</small></h5>
        <div class="pl-3">
            <div class="d-flex justify-content-between w-100">
                <p>1. Get, add, delete country</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>2. Get, add, delete gender</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>3. Get, add, delete account type</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>4. Get, add, delete denomination</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>5. Get, add, delete promotion type</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>6. Get, add, delete investment peroid</p>
                <p>💙</p>
            </div>
            <div class="d-flex justify-content-between w-100">
                <p>7. Get, add, delete bank details</p>
                <p>💙</p>
            </div>
        </div>
    </section>





</div>

<div mat-dialog-actions>
    <div class="d-flex justify-content-end w-100">
        <button mat-button mat-dialog-close tabindex="-1" color="warn">Close</button>
    </div>

</div>