<mat-sidenav-container class="sidenav-container">


    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="border-bottom">
            <a routerLink="/profile" class="sidenav-logo">
                <img src="../../../../assets/img/logo1.png">
                <span class="text-dark ml-2"><span class="color-primary">R</span>eserves<span class="color-primary">M</span>anager</span>
            </a>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLinkActive="active" routerLink="/dashboard" [routerLinkActiveOptions]="{exact:
                true}" mat-list-item class="main-item">
                <button *ngIf="!fancyBg" class="main-icon" mat-icon-button>
                    <mat-icon class="mat-icon">home_outline</mat-icon>
                    </button>

                <span *ngIf="!fancyBg" class="main-text">Home</span>

                <button routerLinkActive="active" *ngIf="fancyBg" class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>
            <a *ngIf="apiService.USER.user_type_id === 1" routerLinkActive="active" routerLink="users" mat-list-item class="main-item">
                <button *ngIf="!fancyBg" class="main-icon" mat-icon-button>
                    <mat-icon class="mat-icon">group</mat-icon>
                    </button>
                <span *ngIf="!fancyBg" class="main-text">Users</span>

                <button *ngIf="fancyBg" class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>

            <a mat-list-item routerLinkActive="active" routerLink="accounts" class="main-item">
                <button *ngIf="!fancyBg" class="main-icon" mat-icon-button>
                    <mat-icon class="mat-icon">account_balance_wallet</mat-icon>
                    </button>
                <span *ngIf="!fancyBg" class="main-text">Accounts</span>

                <button *ngIf="fancyBg" class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>

            <a mat-list-item routerLinkActive="active" routerLink="transactions" class="main-item">
                <button *ngIf="!fancyBg" class="main-icon" mat-icon-button>
                    <mat-icon>cached</mat-icon>
                    <!-- <mat-icon>sync</mat-icon> -->
                    </button>
                <span *ngIf="!fancyBg" class="main-text">Transactions</span>

                <button *ngIf="fancyBg" class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>

            <a mat-list-item routerLinkActive="active" routerLink="settings/profile" class="main-item">
                <button *ngIf="!fancyBg" class="main-icon" mat-icon-button>
                    <mat-icon >settings</mat-icon>
                    </button>
                <span *ngIf="!fancyBg" class="main-text">Settings</span>

                <button *ngIf="fancyBg" class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>

            <a *ngIf="fancyBg" mat-list-item href="#">
                <button class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>
            <a *ngIf="fancyBg" mat-list-item href="#">
                <button class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>

            <a *ngIf="fancyBg" mat-list-item href="#">
                <button class="fancy-icon" mat-icon-button>
                        <mat-icon></mat-icon>
                        </button>
                <span *ngIf="fancyBg" class="fancy-text"></span>

            </a>
        </mat-nav-list>

        <div class="sidenav-action">
            <button (click)="openFeaturesUpdateDialog()" class="bg-primary text-white shadow" mat-icon-button mat-raised-button>
                <mat-icon>update</mat-icon>
        </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-toolbar>
            <div class="d-flex justify-content-between align-content-center align-items-center w-100">
                <div *ngIf="isHandset$ | async">
                    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                  </button>

                    <a routerLink="profile" class="sidenav-logo">
                        <img src="../../../../assets/img/logo1.png">
                        <span class="text-dark ml-2"><span class="color-primary">R</span>eserves<span class="color-primary">M</span>anager</span>
                    </a>
                </div>



                <div class="nav-search-con w-100 ">
                    <div class="fancy-search-input mx-auto"></div>
                </div>

                <div class="nav-profile-con">
                    <button class="bg-gray" mat-icon-button>
                        <mat-icon>notifications_none</mat-icon>
                    </button>

                    <button class="bg-gray" [matMenuTriggerFor]="userMenu" mat-icon-button>
                        <mat-icon>person</mat-icon>
                        <div class="online-icon"></div>
                   </button>

                    <button (click)="logOutDialog()" color="warn" class="rounded-btn " mat-raised-button>
                        Logout 
                    </button>


                </div>
            </div>
        </mat-toolbar>
        <mat-menu #userMenu="matMenu">
            <!-- <div class="py-3 border mb-2">Saint Sion</div> -->
            <mat-list class="bg-light">
                <mat-list-item>
                    <mat-icon mat-list-icon class="color-primary">person</mat-icon>
                    <h4 mat-line>{{this.apiService.USER.firstname}}</h4>
                    <p mat-line>{{this.apiService.USER.email}}</p>
                </mat-list-item>
            </mat-list>
            <button routerLink="settings/profile" mat-menu-item>
               <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button routerLink="accounts" mat-menu-item>
                    <mat-icon class="mat-icon">account_balance_wallet</mat-icon>
              <span>Account</span>
            </button>
        </mat-menu>

        <!-- Add Content Here -->
        <router-outlet>
        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>