$primary: #0022ff;

html,
body {
    height: 100%;
}

@media (min-width:768px) {
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-thumb {
        width: 8px;
        border-radius: 13px;
        // background-clip: padding-box;
        height: 7px;
        border: 1px solid gray;
    }
     ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #555;
}

.rounded-btn{
    border-radius: 70px !important;
}

button:focus {
    outline: 1px dotted;
    outline: none !important;
    outline: 0 !important;
    // outline: 5px auto -webkit-focus-ring-color;
    scroll-behavior: smooth !important;
}

* {
    scroll-behavior: smooth !important;
}

.menu-active {
    // color: rgb(0, 34, 255) !important;
    border-bottom: 2px solid rgb(0, 34, 255) !important;
}

.settingsActive{
    color: $primary  !important;
    border-bottom: 3px solid $primary !important;
}

@media (max-width:767px) {
    .menu-active {
        border-bottom: none !important;
    }
    .showcase-content h1 {
        text-align: center !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}

button:focus {
    outline: 1px dotted;
    outline: none !important;
    outline: 0 !important;
    // outline: 5px auto -webkit-focus-ring-color;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #eee !important;
}

// profile active link
.mat-list-item.active {
    border-right: 3px solid #0022ff !important;
    .main-text {
        color: rgb(0, 0, 0, 100%) !important;
        font-weight: 400;
    }
    .mat-icon {
        color: #0022ff !important;
    }
    .mat-icon {
        color: #0022ff !important;
    }
}