$primary: #3f51b5;
$text-muted: #6c757d;
$success: rgb(0, 34, 255);
.success {
    background-color: $success;
}

:host ::ng-deep {
    .showcase {
        margin-bottom: 100px;
        position: relative;
        background-color: rgb(0, 34, 255);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        // z-index: 0;
        background-image: url('../../../../assets/img/software-dev2.jpg');
        &::after {
            position: absolute;
            content: "";
            background-color: #2C2C2C;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.6;
        }
        h1 {
            color: #ffffff;
            position: absolute;
            width: auto;
            top: 60%;
            text-align: center;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 40px;
            text-shadow: 0 0 2px #000;
        }
        .showcase-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            // background-color: red;
        }
    }
    .section-2 {
        padding-top: 100px;
        padding-bottom: 100px;
        h3 {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .mat-card {
            overflow: hidden;
            &:hover {
                // background-color: $success !important;
                // color: #ffffff !important;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
                cursor: pointer;
                img {
                    -webkit-animation-name: pulse;
                    animation-name: pulse;
                }
            }
        }
    }
    // section-about
    .section-softwareDevs {
        padding: 100px 0 0 0;
        overflow: hidden;
        p {
            font-size: 15px !important;
            line-height: 28px;
            color: #727272;
            margin-bottom: 22px;
            margin-top: 28px;
            text-align: justify;
        }
        h3 {
            font-size: 30px;
            line-height: 55px;
            font-weight: 500;
            color: #2C2C2C;
            width: auto !important;
            span {
                color: $success;
                font-size: 17px;
                display: block;
                line-height: 0;
                font-weight: 750;
            }
        }
        .about-info {
            padding-left: 30px;
            padding-right: 30px;
        }
        .row {
            &:nth-child(even) {
                .order-control {
                    order: 2;
                }
                .about-info.ml-auto {
                    margin-left: 0 !important;
                    margin-right: auto !important;
                    // background-color: $success;
                }
            }
            &:hover {
                // background-color: $success !important;
                // color: #ffffff !important;
                img {
                    -webkit-animation-name: pulse;
                    animation-name: pulse;
                    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
                }
            }
        }
    }
    .services-section-2,
    .services-section-3 {
        min-height: 100vh;
        padding: 80px 0 100px 0;
    }
    // section 2
    .services-section-2 {
        .order {
            position: relative;
        }
        .roud-bg {
            position: absolute;
            top: -15%;
            left: -15%;
            width: 100px;
            height: 100px;
            // border-radius: 100px;
            background-color: gray;
            opacity: 0.7;
        }
        .order-margin {
            margin-left: auto;
        }
        h4 {
            font-size: 30px;
            line-height: 55px;
            font-weight: 500;
            color: #2C2C2C;
            width: auto !important;
        }
        .content {
            p {
                font-size: 15px !important;
                line-height: 28px;
                color: #727272;
                margin-bottom: 22px;
                margin-top: 28px;
            }
        }
        .row {
            align-items: center;
            &:nth-child(even) {
                .order {
                    order: 2;
                    .roud-bg {
                        top: initial;
                        bottom: -15%;
                        left: initial;
                        right: -15%;
                    }
                }
                .order-margin {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
        .card {
            text-align: center;
            padding: 50px 0 50px 0;
            border: 0 !important;
            .mat-icon {
                font-size: 600%;
                margin-left: -40px;
                color: gray;
            }
            h4 {
                font-weight: 800;
                color: gray;
            }
        }
    }
    @media (max-width: 991.93px) {
        // section 3
        .services-section-3 {
            .box-con {
                .card {
                    padding: 50px 10px 50px 10px !important;
                    width: 100%;
                }
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width:767px) {
        // section 3
        .services-section-3 {
            .box-con {
                .card {
                    padding: 50px 10px 50px 10px !important;
                    width: 100%;
                }
                margin-bottom: 30px;
            }
        }
        .services-section-2 {
            .row {
                .order {
                    order: initial !important;
                }
                .order-margin {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}