<div id="software" class="features">
    <div class="container">
        <div class="row">

            <!-- Features Title -->
            <div class="col-lg-3 features_col">
                <div class="features_content">
                    <div class="features_title_container">
                        <!-- <div class="features_subtitle">take a look at our</div> -->
                        <div class="features_title">Software Development</div>
                        <div class="features_text" </div>
                            <!-- <div class="link_button features_button"><a href="#">read more</a></div> -->
                        </div>
                    </div>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 features_col">
                    <div class="features_item">
                        <div class="features_image"><img src="images/expertad.gif" alt=""></div>
                        <div class="features_item_content">
                            <div class="features_item_title"><a href="#">MQL Expert Advisor</a></div>
                            <div class="features_item_text">
                                <p>.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 features_col">
                    <div class="features_item">
                        <div class="features_image"><img src="images/webapps.jpg" alt=""></div>
                        <div class="features_item_content">
                            <div class="features_item_title"><a href="#">Web Development</a></div>
                            <div class="features_item_text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 features_col">
                    <div class="features_item">
                        <div class="features_image"><img src="images/mobileapps.jpg" alt=""></div>
                        <div class="features_item_content">
                            <div class="features_item_title"><a href="#">Mobile Applications</a></div>
                            <div class="features_item_text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>