<div style="min-height: 100%; margin-bottom: 200px;">
    <div class="container animated fadeInUp">
        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-between  ">
                <div class="d-flex align-content-center  align-items-center">
                    <h4 class="mb-0">Transactions</h4>

                </div>
                <div class="d-flex align-content-center  align-items-center">

                    <button routerLink="/dashboard/add-new-user" mat-raised-button class="btn-primary">Add Transaction <mat-icon>add</mat-icon> </button>

                </div>
            </header>


            <div class="row mt-3 ">
                <!-- Transactions -->
                <div class="col-md-12 ">
                    <div class="table-conshadow mt-0 bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th class=" d-flex justify-content-end align-content-center align-items-center ">Date</th>
                                </tr>

                            </thead>
                            <tbody>

                                <tr routerLink="123456">
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>
                                <tr>
                                    <td>Transer</td>
                                    <td>&#8358; 50, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>


                                <tr>
                                    <td>Deposite</td>
                                    <td>&#8358; 30, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>

                                <tr>
                                    <td>Witdraw</td>
                                    <td>&#8358; 40, 000</td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        20/12/2019 | 1:30 pm
                                    </td>

                                </tr>






                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>