<div style="min-height: 100%; margin-bottom: 200px; position: relative;">

    <div class="container animated fadeInUp">

        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-between  ">
                <div class="d-flex align-content-center  align-items-center">
                    <h4 class="mb-0">Transactions</h4>
                </div>
                <div *ngIf="apiService.USER.user_type_id == 1" class="d-flex align-content-center  align-items-center">
                    <button [disabled]="loading" (click)="openAddTransactionDialog()" mat-raised-button class="btn-primary">Add Transaction <mat-icon>add</mat-icon> </button>
                </div>
            </header>


            <div class="row mt-3 ">
                <!-- Transactions -->
                <div class="col-md-12 ">
                    <div class="table-conshadow mt-0 bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th class=" d-flex justify-content-end align-content-center align-items-center ">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of transactions" routerLink="123456">
                                    <td>
                                        {{transaction.type}}
                                    </td>
                                    <td [ngClass]="{'text-primary': transaction.type == 'Deposite', 'text-danger': transaction.type == 'Withdraw', 'text-dark': transaction.type == 'Transfer' }">&#8358;
                                        <span *ngIf="transaction.amount >= 1000">
                                            {{transaction.amount |  number:'2.'}}
                                        </span>
                                        <span *ngIf="transaction.amount < 1000">
                                            {{transaction.amount}}
                                        </span>
                                        <!-- <mat-icon class="text-muted" *ngIf="transaction.type == 'Deposite'">add_circle</mat-icon>
                                        <mat-icon class="text-muted" *ngIf="transaction.type == 'Transfer'">publish</mat-icon>
                                        <mat-icon class="text-muted" *ngIf="transaction.type == 'Withdraw'">archive</mat-icon> -->
                                    </td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        {{transaction.date | date:'fullDate'}}
                                    </td>
                                </tr>
                                <tr *ngFor="let transaction of transactions" routerLink="123456">
                                    <td>
                                        {{transaction.type}}
                                    </td>
                                    <td [ngClass]="{'text-primary': transaction.type == 'Deposite', 'text-danger': transaction.type == 'Withdraw', 'text-dark': transaction.type == 'Transfer' }">&#8358;
                                        <span *ngIf="transaction.amount >= 1000">
                                            {{transaction.amount |  number:'2.'}}
                                        </span>
                                        <span *ngIf="transaction.amount < 1000">
                                            {{transaction.amount}}
                                        </span>
                                        <!-- <mat-icon class="text-muted" *ngIf="transaction.type == 'Deposite'">add_circle</mat-icon>
                                        <mat-icon class="text-muted" *ngIf="transaction.type == 'Transfer'">publish</mat-icon>
                                        <mat-icon class="text-muted" *ngIf="transaction.type == 'Withdraw'">archive</mat-icon> -->
                                    </td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        {{transaction.date | date:'fullDate'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>