<div style="min-height: 100%; margin-bottom: 200px; position: relative;">

    <div class="container animated fadeInUp">

        <div class="inner mt-4" style="overflow: hidden;">
            <header class="d-flex justify-content-between  ">
                <div class="d-flex align-content-center  align-items-center">
                    <h4 class="mb-0">Transactions</h4>
                </div>
                <div *ngIf="apiService.USER.user_type_id == 1" class="d-flex align-content-center  align-items-center">
                    <button [disabled]="loading" (click)="openAddTransactionDialog()" mat-raised-button class="btn-primary"> Confirm Transaction <mat-icon>add</mat-icon> </button>
                </div>
            </header>


            <div class="row mt-3 ">
                <!-- Transactions -->
                <div class="col-md-12 ">
                    <div class="table-conshadow mt-0 bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>User</th>
                                    <th class=" d-flex justify-content-end align-content-center align-items-center ">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of transactions" [routerLink]="transaction?.id">
                                    <td>
                                        {{transaction?.transaction_type}}
                                    </td>
                                    <td [ngClass]="{'text-primary': transaction?.transaction_type== 'deposite', 'text-danger': transaction?.transaction_type == 'withdraw', 'text-dark': transaction?.transaction_type == 'transfer' }">
                                        &#8358;
                                        <span class="text-capitalize" *ngIf="transaction?.amount >= 1000">
                                            {{transaction?.amount |  number:'2.'}}
                                        </span>
                                        <span *ngIf="transaction?.amount < 1000">
                                            {{transaction?.amount}}
                                        </span>
                                    </td>
                                    <td>
                                        {{transaction?.firstname}} {{transaction?.lastname}}
                                    </td>
                                    <td class=" d-flex justify-content-end align-content-center align-items-center ">
                                        {{transaction?.createdAt | date:'short'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>