<section class="showcase animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </div>
</section>


<main>

    <section class=" client-edu-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <header class="headline">
                        <h1> <span> ABOUT US! </span> Reserves Manager LTD. RC 1559750</h1>
                    </header>
                    <div class="section">
                        <p>

                            The company was registered in Nigeria on 7th February, 2019 as a trading and investment planning company. Our corporate office is in Lagos. We started business in September, 01, 2019. We specialize in creating financial futures and products that give
                            cash liquidity solutions to our clients. We trade financial derivative products like currencies, commodities ,oil and gas, metals, financial futures and e.t.c except interest yielding products like bank deposits and treasury
                            bills
                        </p>


                        <p>
                            We are a <b>cash liquidity planning company</b>. We train our clients towards planning and maintainting a savings culture for every transactions and obligations that would require making payments in the future. Successful multi
                            millionaires continue to increase their wealth simply because they adopt a lifestyle that anticipate cash payments and plan for them, as such they can afford to continue to spend on these listed categories of obligations without
                            reducing their wealth, <b>school fees and tuition, business and house Rent, holiday and leisure making, religious rights and obligations</b> etc. These millionaires plough back their business income back into their businesses
                            and spend reserves they have previously created from past income.
                        </p>

                        <p>
                            Does it look clever ?, Yes!!!, then why not emmulate them. Bodies who adopt planning culture see their wealth growing, even during economic recession and depression, those who do not suffer wealth leakages for every payments and transaction. We are training
                            you towards seeing your wealth increasing while still maintaining your usual spending habit.
                        </p>

                        <p>
                            <b>Safety of client funds, adequate returns on equity, and consistence performance rank respectively as our priority.</b> Reserves Manager Limited, “We are your Best Friend”
                        </p>



                        <h3>Our Mission Statement</h3>
                        <ul>
                            <li>Research the financial derivatives and information technology markets in order to create liquidity solutions that would improve purchasing power and disposable income of individual, corporations and governments</li>
                            <li>Assist individual, corporations, and government in planning, so as to reduce the impacts of financial challenges, which are either foreseeable or nonenforceable which occurs as a result of loss of employment, negative change
                                in economic cycle, poor governmental policies and natural disasters. As is often said, that no amount of adequate plan can make those challenges not to occur , but planning can reduce their impacts.</li>

                            <li>Individual, corporate and governmental projects and infrastructure developmental fund planning</li>
                        </ul>

                        <h3>Founder and Chief Executive Officer</h3>
                        <p>
                            Mr Lateef Olayinka Babawale was born and attended elementary and secondary schools in Osun State of Nigeria. Advance accounting certificate west African examination council, advance economics certificate London chamber of commerce and industry examination
                            board, 1986 and 1987 respectively. He has bachelor of Art in accounting and finance as well as master of business administration from Kensington University, Glendale California, United States of America. Partly completed association
                            of certified chartered accountant, ACCA. diploma in web development at NIIT. certified management consultants, (CMC), institute of management consultants, Nigeria.
                        </p>

                        <p>He has many years experience trading financial derivatives. He is an Expert in MQL4/MQL5 software develoment, "MQL is programming language use in wrinting software for trading financial derivaties like Forex, commodities, stock,
                            metal etc, on metaTraders trading platforms ".</p>

                        <p>He has many years corporate work experience with companies like Boots company Nigeria Limited, Adebolaji concrete industries, Clemessy Nigeria Limited and foressfunds and investment trust Llmited.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>