<section class="showcase animated fadeInUp">
    <div class="showcase-content">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </div>
</section>


<main>

    <section class=" client-edu-section-2">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <header class="headline">
                        <h1> <span> ABOUT US! </span> Reserves Manager LTD. RC 1559750</h1>
                    </header>
                    <div class="section">
                        <p>

                            The Company was Registered in Nigeria on 7th February, Year 2019 as a Trading and Investment Planning Company. Our Corporate Office is in Lagos. We start Business in September, 01, 2019. We Specialise Creating Financial Futures Products that give Cash
                            Liquididty Solutions to our Clients. We Trade Financial Derivative Products Like Currencies, Commodities ,Oil and Gas, Metals, Financial Futures and e.t.c except interest yielding Products like bank deposits and treasuery bills
                        </p>


                        <p>
                            We are <b>Cash Liquidity planning company</b>, we train our clients toward planning and savings culture for every transactions and obligations that would require making payments in futures. Successful world multi millionaires
                            continue to increase their wealth simply because they adopt a lifestyle that anticipate cash payments and plan for them. as such they can afford to continue to spend on these listed categories of obligations without reducing
                            their wealth, <b>School fees and tuition, Business and House Rent, Holiday and Leisures Making, Religious Rights and Obligations</b> etc. These millionaires plough back their Business Income back into their businesses and spend
                            Reserves they have previously created from past income.
                        </p>

                        <p>
                            Does it look clever ?, Yes!!!, then why not emmulate them. Body who adopt planning culture see their wealth growing, even during economic recession and depression, those who do not suffer wealth leakages for every payments and transaction. We are training
                            you toward seeing your wealth increasing while still maintaining your usual Spending habit.
                        </p>

                        <p>
                            <b>Safety of client funds, Adequate returns on Equity, and Consistence performance rank respectively as our priority.</b> Reserves Manager Limited, “We are your Best Friend”
                        </p>



                        <h3>Our Mission Statement</h3>
                        <ul>
                            <li>Research the Finanacial Derivatives and Information technology markets in order to create Liquidity Solutions that would improve Purchasing Power and Disposeable imcome of Individual,Corporations and Governments</li>
                            <li>Assist Individual, Corporations, and Government in Planning, so as to reduce the Impacts of Financial challenges, which are either Forseable or Nonforseable which occure as a result of loss of Employment, Negative change in
                                Economic cycle, Poor Governmental Policies and Natural disasters. As is often said, that no amount of adequate plan can make those challenges not to occure, but planning can reduce their impacts.</li>

                            <li>Individual, Corporate and Governmental Projects and Infrastructure Developmental Fund Planning</li>
                        </ul>

                        <h3>Founder and Chief Executive Officer</h3>
                        <p>
                            Mr Lateef Olayinka Babawale was born and attended Elementary and Secondary schools in Osun State of Nigeria. Advance Accounting Certificate-West African Examination Council, Advance Economics Certificate-London Chamber of Commerce and Industry Examination
                            Board, 1986 and 1987 respectively. He has Bachelor of Art in Accounting and Finance as well as Master of Business Administration from Kensington University, Glendale California, United States Of America. Partly completed Association
                            of Certified Chartered Accountant, ACCA. Diploma in Web Development-NIIT. Certified Management Consultants,(CMC)-Institute of Management Consultants, Nigeria.
                        </p>

                        <p>He has many years experience Trading Financial Derivatives. He is an Expert in MQL4/MQL5 Software Develoment , "MQL is Programming Language use in wrinting Software for Trading Financial Derivaties like Forex, Commodities, Stock,
                            Metal etc, on MetaTraders Trading Platforms ".</p>

                        <p>He has many years Corporate work experience with many Companies like Boots Company Nigeria Limited, Adebolaji Concrete Industries, Clemessy Nigeria Limited and Foressfunds and Investment Trust Limited.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>