<div class="main ">
    <div class="showcase animated fadeInUp">
        <div class="showcase-content">
            <div class="container">
                <h1>Registration</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-con px-4 py-5 shadow ">

            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="text" name="firstname" id="firstname" placeholder="Firstname" required>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="text" name="lastname" id="lastname" placeholder="Lastname" required>
                    </mat-form-field>
                </div>


                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="text" name="username" id="username" placeholder="Username" required>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="email" name="email" id="email" placeholder="Email Address" required>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="number" name="phone" id="phone" placeholder="Phone Number" required>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="password" name="password" id="password" maxlength="15" placeholder="Password" required>
                    </mat-form-field>

                </div>

                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="password" name="conf_password" id="conf_password" maxlength="15" placeholder="Confirm Password" required>
                    </mat-form-field>

                </div>


                <div class="col-6">
                    <mat-form-field>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-form-field>
                        <input matInput name="address" id="address" placeholder="Residential Address" required>
                    </mat-form-field>

                </div>
            </div>

            <div class="pb-2 mt-2">
                <button class="w-100 float-right" mat-raised-button>Register</button>
            </div>

        </div>
    </div>
</div>