<div class="main ">
    <div class="showcase animated fadeInUp">
        <div class="showcase-content">
            <div class="container">
                <h1>Registration</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-con px-4 py-5 shadow border">
            <form [formGroup]="registerForm" (ngSubmit)="register()">

                <div *ngIf="loading" class="form-spinal-con d-flex justify-content-center align-content-center align-items-center">
                    <div>
                        <div class="lds-ripple">
                            <div></div>
                            <div></div>
                        </div>
                        <p>Loading..</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="firstname" type="text" placeholder="Firstname" required>
                            <mat-hint *ngIf="submited && f.firstname.errors?.required || (f.firstname?.errors && (f.firstname?.dirty && f.firstname.errors?.required))" class="text-danger">Firstname is required</mat-hint>
                            <mat-hint *ngIf="f.firstname.errors?.maxlength && f.firstname.dirty" class="text-danger">Maxlength is 30</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="lastname" type="text" placeholder="Lastname" required>
                            <mat-hint *ngIf="submited && f.lastname.errors?.required || (f.lastname?.errors && (f.lastname?.dirty && f.lastname.errors?.required))" class="text-danger">Lastname is required</mat-hint>
                            <mat-hint *ngIf="f.lastname.errors?.maxlength && f.lastname.dirty" class="text-danger">Maxlength is 30</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="email" type="email" placeholder="Email Address" required>
                            <mat-hint *ngIf="submited && f.email.errors?.required || (f.email?.errors && (f.email?.dirty && f.email.errors?.required))" class="text-danger">Email is required</mat-hint>
                            <mat-hint *ngIf="f.email.errors?.maxlength && f.email.dirty" class="text-danger">Maxlength is 30</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="phone_number" type="tel" placeholder="Phone Number" required>
                            <mat-hint *ngIf="submited && f.phone_number.errors?.required || (f.phone_number?.errors && (f.phone_number?.dirty && f.phone_number.errors?.required))" class="text-danger">Phone is required</mat-hint>
                            <mat-hint *ngIf="f.phone_number.errors?.maxlength && f.phone_number.dirty" class="text-danger">Maxlength is 15</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <mat-select formControlName="gender_id" placeholder="Gender" required>
                                <mat-option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="submited && f.gender_id.errors?.required || (f.gender_id?.errors && (f.gender_id?.dirty && f.gender_id.errors?.required))" class="text-danger">Gender is required</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <mat-select formControlName="country_id" placeholder="Country" required>
                                <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="submited && f.country_id.errors?.required || (f.country_id?.errors && (f.country_id?.dirty && f.country_id.errors?.required))" class="text-danger">Country is required</mat-hint>

                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input formControlName="address" type="text" matInput placeholder="Residential Address" required>
                            <mat-hint *ngIf="submited && f.address.errors?.required || (f.address?.errors && (f.address?.dirty && f.address.errors?.required))" class="text-danger">Address is required</mat-hint>

                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="password" type="password" autocomplete="false" placeholder="Password" required>
                            <mat-hint *ngIf="submited && f.password.errors?.required || (f.password?.errors && (f.password?.dirty && f.password.errors?.required))" class="text-danger">Password is required</mat-hint>
                            <mat-hint *ngIf="f.password.errors?.minlength && f.password.dirty || f.password.errors?.maxlength && f.password.dirty" class="text-danger">Minlegth is 6, Maxlength is 30</mat-hint>
                        </mat-form-field>

                    </div>

                    <div class="col-6">
                        <mat-form-field>
                            <input matInput formControlName="conf_password" type="password" autocomplete="false" maxlength="15" placeholder="Confirm Password" required>
                            <mat-hint *ngIf="submited && f.conf_password.errors?.required || (f.conf_password?.errors && (f.conf_password?.dirty && f.conf_password.errors?.required))" class="text-danger">Confirm your Password</mat-hint>
                            <li *ngIf="f.conf_password?.errors?.mustMatch && f.conf_password?.dirty ">
                                Password must match
                            </li>
                        </mat-form-field>

                    </div>

                    <div class="col-12 mt-4" *ngIf="promotionTypes.length > 0">
                        <label id="example-radio-group-label">How did you here about us?</label>

                        <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" formControlName="promotion_type_id">
                            <mat-radio-button class="radio-button" *ngFor="let   promotionType of promotionTypes" [value]="promotionType.id">
                                {{promotionType.name}}
                            </mat-radio-button>
                            <mat-hint *ngIf="submited && f.promotion_type_id.errors?.required || (f.promotion_type_id?.errors && (f.promotion_type_id?.dirty && f.promotion_type_id.errors?.required))" class="text-danger">How did you here about us</mat-hint>

                        </mat-radio-group>
                        <div>

                        </div>


                    </div>
                </div>

                <div class="pb-2 mt-2">
                    <button class="w-100 float-right" mat-raised-button>Register</button>
                </div>

            </form>

        </div>
    </div>
</div>